* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 15px;
}

.form {
    width: 450px;
    margin: 0 auto;
    padding: 25px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.input {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background: #eb9525;
    color: white;
}

.btn:hover {
    background: #d17d07;
}

.table {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

th {
    background: #eb9525;
    color: white;
    padding: 13px;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.button {
    padding: 7px 14px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #78dc26;
}